body {
    background-color: rgb(227, 243, 226);
}

.content_wrapper{
    text-align: center;
}

.alert_image{
    height: 300px;
}

.button_green {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button_red {
    background-color: rgb(235, 1, 1); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  