<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/view.css">
    <title>ISD</title>
</head>
<body>
    <div class="content_wrapper">
        <h1>Oops...</h1>
        <h3>We couldn't process that upload request!</h3> 
        <p>Make sure your file is an image type (png, jpg, tif, or gif) and the file has a valid name (no periods, commas, or other improper characters).</p>
        <a href="http://invasivespeciesde.tech"><button class="button_grey">Try Again</button></a>
    </div>
</body>
</html>
