<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/notFound.css">
    <title>All Good!</title>
</head>
<body>
    <div class="content_wrapper">
        <img class="alert_image" src="/assets/green_check.png">
        <h1>We didn't identify any invasive species in that image...</h1>
        <h2>If you think this is a mistake you can</h2>
        <a href="http://invasivespeciesde.tech"><button class="button_green">Try Again</button></a>
        <h2>Or</h2>
        <button class="button_red">Report a mistake</button>
    </div>
</body>
</html>